body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1, h2{
    color: white;
}

button{
    margin-bottom: 10px;
    cursor: pointer;
}

tbody{
    cursor: not-allowed;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table{
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    height: 2em;
    width: 2em;
    text-align: center;
}

.sky{
    background-color: lightblue;
}
.ground{
    background-color: brown;
}

.modal{
    /* background-color: rgba(51, 173, 51, 0.829); */
    border-radius: 10px;
    text-align: center;
    height: 30%;
    width: 30%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instructions{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(61, 61, 199);
    padding: 1em;
}